<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyFace{% endblock %}</title>
</head>
<body>

    <span class="user">
        <div>
            {% if request.user.is_authenticated %}
                <p><strong>Hello {{ request.user.username }}!
                <a href="{% url 'Account:logout' %}">Log out</a></strong> </p>
                    <span class="new_post">
                        <p><a href="{% url 'Content:add_post' %}">New post</a></p>
                    </span>
            {% else %}
                <p><a href="{% url 'Account:login' %}">Log in</a>  </p>
                <p><a href="{% url 'Account:register' %}">Create account</a></p>

            {% endif %}
        </div>
    </span>
    <div>
        {% for post in posts %}
            <p>{{ post.author }}</p>
            <P><a href="{{ post.get_absolute_url }}">{{ post.text }}</a></P>
            <p>{{ post.date_added }}</p>
            {% if request.user.is_authenticated %}
                {% if post.author == request.user %}
                    <p><a href="{% url 'Content:delete_post' post.id %}">Delete</a> </p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>



</body>
</html>