<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyFace{% endblock %}</title>
</head>
<body>
<div class="container">
    {% if messages %}
        <div class="row">
            <div class="col-xs-12">
                {% for message in messages %}
                    <p>{% if message.tags. %} class ="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
    <span class="user">
        <div>
            {% if request.user.is_authenticated %}
            <p><strong>Hello <a href="{% url 'Account:user_detail' %}">{{ request.user.username }}!</a>
                <a href="{% url 'Message:list_messages' %}">Message</a>
                <a href="{% url 'Account:logout' %}">Log out</a></strong> </p>
                    <span class="new_post">
                        <p><a href="{% url 'Content:add_post' %}">New post</a></p>
                    </span>
            {% else %}
                <p><a href="{% url 'Account:login' %}">Log in</a>  </p>
                <p><a href="{% url 'Account:register' %}">Create account</a></p>

            {% endif %}
        </div>
    </span>
<form class="search" action="{% url 'Content:index' %}">
    <input type="search" placeholder="Szukaj" name="search">
    <button type="submit">Search</button>
</form>
    <div>
        {% for post in posts %}
            <p>{{ post.author }}</p>
            <P><a href="{{ post.get_absolute_url }}">{{ post.text }}</a></P>
            <p>{{ post.date_added }}</p>
            {% if request.user.is_authenticated %}
                {% if post.author == request.user %}
                    <p><a href="{% url 'Content:delete_post' post.id %}">Delete</a> </p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>


{% include 'Content/pagination.html' with pag=pag %}
</body>
</html>